include requirements.txt
include README.md
include ./bmxp/gravity/correlation.c
include ./bmxp/gravity/correlation.dll
include ./bmxp/gravity/correlation.so
include ./bmxp/chroma/*
recursive-include ./tests *